
jira-rest/\.settings/

redmine-java-api/\.settings/

redmine-java-api/\.gradle/

redmine-java-api/bin/

redmine-to-jira/\.settings/

redmine-to-jira/\.gradle/

jira-rest/target/

redmine-java-api/target/

redmine-to-jira/target/


redmine-to-jira/src/main/resources/walid-ks

redmine-to-jira/src/main/resources/redmineaerowtmacom\.crt
